.card-header, .card-body, .card-footer {
    background-color: white;
}

.card {
    margin: 3%;
}

.btn-link {
    color: var(--off-black);
    text-decoration: none;
}

.btn-link:hover {
    color: var(--dark-turquoise)
}