/*=============================================
           LOGIN & REGISTER STYLES
=============================================*/
hr {
    align: center;
    margin-left: 10%;
    margin-right: 10%;
    background: var(--ghost-gray);
    border: .5px solid var(--ghost-gray);
    border-radius: 15px;
}

.container.content-frame {
    text-align: center;
    padding: 2% 3%;
    margin: 20% auto;
}

.btn {
    background-color: var(--dark-ocean);
    border-color: var(--dark-ocean);
    color: white;
}
.btn:hover {
    background-color: var(--dark-turquoise);
    border-color: var(--dark-turquoise);
    color: white;
}

.input {
    margin: 2% auto;
    width: 60%;
    text-align: center;
}

img#login-logo {
    width: 70%;
    padding: 5% 2% 10%;
}

img.register-logo {
    width: 50%;
    padding: 5% 2% 10%;
}