/*=============================================
         LOGIN AND REGISTER PAGE STYLES
=============================================*/
.hr-login-register {
    align: center;
    margin-left: 10%;
    margin-right: 10%;
    background: var(--ghost-gray);
    border: .5px solid var(--ghost-gray);
    border-radius: 15px;
}

.btn-login-register {
    background-color: var(--dark-ocean);
    border-color: var(--dark-ocean);
    color: white;
}

.btn-login-register:hover {
    background-color: var(--dark-turquoise);
    border-color: var(--dark-turquoise);
    color: white;
}

.container-login-register {
    text-align: center;
    width: 40%;
    padding: 2% 3%;
    /*margin: 2% auto;*/
}

.input-login-register {
    margin: 2% auto;
    width: 60%;
    text-align: center;
    color: var(--off-black);
}

.input-login-register::placeholder {
    color: var(--goose-gray);
}

#img-login-logo {
    max-width: 40%;
    height: auto;
    padding: 5%;
}

#img-register-logo {
    max-width: 30%;
    height: auto;
    padding: 5%;
}

#login-error-message, #register-error-message {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: red;
}

#register-success-message {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: var(--seafoam-cyan);
}
